extends layout

block content
  .row
    .large-12.columns
      h2.subheader Login
  .panel
    form#authorise.custom(name='authorise', action='/login', method='post')
      .row
        .large-6.columns.end
          label Username or Email
            input(name='username', type='text', placeholder='username')
      .row
        .large-6.columns.end
          label Password
            input(name='password', type='password', placeholder='password')
      .row
        .large-3.columns.end
          button.radius(type='submit') login
        .large-2.columns
          a#forgot-password.right(href="#") forgot password?
        .large-1.columns.end
          a.right(href='/signup') sign up

block scripts
  script(src='/javascripts/custom/recover.js')
