extends layout

block content
  .row
    .large-12.columns
      h2.subheader Login
  .panel
    form.custom(name='authorise', action='/login', method='post')
      .row
        .large-6.columns.end
          label Username
            input(name='username', type='text', placeholder='username')
      .row
        .large-6.columns.end
          label Password
            input(name='password', type='password', placeholder='password')
      .row
        .large-6.columns.end
          button.radius(type='submit') login
