body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#error
  display: none;

#google
  background-color:#d85b46
  border-color:#d96754
  color: #fff

#google:hover
  background-color:#CA5440

#github
  background-color:#444
  color: #fff
  border-color: rgba(0,0,0,0.2)

#github:hover
  background-color:#303030

